flows.json
[{"id":"a88798aa.7c0f9","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"57409cb1.94958c","type":"tab","label":"Object detection example flow","disabled":false,"info":"This flow uses the https://developer.ibm.com/exchanges/models/all/max-object-detector/ deep learning model from the Model Asset Exchange to localize and identify multiple objects in a single image. Refer to the documentation for information about the returned message.\n\nInstall the following three modules to run this example flow:\n - [node-red-contrib-model-asset-exchange](https://www.npmjs.com/package/node-red-contrib-model-asset-exchange)\n - [node-red-contrib-browser-utils](https://www.npmjs.com/package/node-red-contrib-browser-utils)\n - [node-red-contrib-image-output](https://npmjs.org/package/node-red-contrib-image-output)\n \n> Note: The object-detector node has been pre-configured to use a hosted model evaluation instance. We recommend using your own local or cloud instance for purposes other than evaluation."},{"id":"8dea9fe1.437498","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"73d1dfc4.bf5268","type":"twitter-credentials","z":"","screen_name":"joinal_ahmed"},{"id":"d8d45782.4fdda8","type":"object-detector-service","z":"","host":"https://max-object-detector.max.us-south.containers.appdomain.cloud","name":"cloud"},{"id":"3839c42d.fed514","type":"human-pose-estimator-service","z":"","host":"https://max-human-pose-estimator.max.us-south.containers.appdomain.cloud","name":"cloud"},{"id":"3e1a5108.9d6546","type":"image-caption-generator-service","z":"","host":"https://max-image-caption-generator.max.us-south.containers.appdomain.cloud","name":"cloud"},{"id":"20a3cb3b.2c294c","type":"twitter in","z":"a88798aa.7c0f9","twitter":"73d1dfc4.bf5268","tags":"#starwars","user":"false","name":"","inputs":0,"x":70,"y":40,"wires":[["e4755d49.772eb"]]},{"id":"e4755d49.772eb","type":"sentiment","z":"a88798aa.7c0f9","name":"","x":240,"y":40,"wires":[["dfc09e09.75fa38"]]},{"id":"dfc09e09.75fa38","type":"function","z":"a88798aa.7c0f9","name":"","func":"if(msg.sentiment.score > 0 ) {\n    msg.sentiment.text = \"positive\";\n} else if (msg.sentiment.score < 0) {\n    msg.sentiment.text = \"negative\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":40,"wires":[["16821e12.d96332","ace4cba9.335a58"]]},{"id":"16821e12.d96332","type":"debug","z":"a88798aa.7c0f9","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":570,"y":40,"wires":[]},{"id":"ace4cba9.335a58","type":"file","z":"a88798aa.7c0f9","name":"","filename":"/onepanel/output/log.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":550,"y":100,"wires":[]},{"id":"fe6b6f27.74c548","type":"debug","z":"57409cb1.94958c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":120,"wires":[]},{"id":"e5f0b605.37b9b","type":"comment","z":"57409cb1.94958c","name":"Localize and identify multiple objects in a single image, then display the output","info":"","x":320,"y":40,"wires":[]},{"id":"5d5df625.94122","type":"function","z":"57409cb1.94958c","name":"Extract Bounding Box Image Data","func":"// if the incoming message contains the annotated image\n// send it to the image output node to display\n\nmsg.payload = msg.annotatedInput;\nif (msg.payload) {\n    return msg;\n}","outputs":1,"noerr":0,"x":419.5,"y":178,"wires":[["51fba5a8.ed54dc"]]},{"id":"177d5c9d.7e9433","type":"object-detector","z":"57409cb1.94958c","service":"d8d45782.4fdda8","method":"predict","passthrough":false,"annotated_input":true,"predict_body":"","predict_bodyType":"str","predict_threshold":"0.7","predict_thresholdType":"str","name":"","x":360,"y":120,"wires":[["fe6b6f27.74c548","5d5df625.94122"]]},{"id":"6312bbe2.75b214","type":"fileinject","z":"57409cb1.94958c","name":"","x":140,"y":120,"wires":[["177d5c9d.7e9433","a266d958.b516f","18adf478.6dcab4"]]},{"id":"3a46a150.2995d6","type":"camera","z":"57409cb1.94958c","name":"","x":130,"y":178,"wires":[["177d5c9d.7e9433"]]},{"id":"51fba5a8.ed54dc","type":"image","z":"57409cb1.94958c","name":"","width":"300","x":670.5,"y":178,"wires":[]},{"id":"a266d958.b516f","type":"human-pose-estimator","z":"57409cb1.94958c","service":"3839c42d.fed514","method":"predict","passthrough":"","annotated_input":"","predict_body":"","predict_bodyType":"str","name":"","x":340,"y":260,"wires":[["222f8dba.7cfe22"]]},{"id":"222f8dba.7cfe22","type":"debug","z":"57409cb1.94958c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":260,"wires":[]},{"id":"18adf478.6dcab4","type":"image-caption-generator","z":"57409cb1.94958c","service":"3e1a5108.9d6546","method":"predict","passthrough":"","predict_body":"","predict_bodyType":"str","name":"","x":340,"y":320,"wires":[["a654e7d7.1d5ff8"]]},{"id":"a654e7d7.1d5ff8","type":"debug","z":"57409cb1.94958c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":320,"wires":[]},{"id":"74b75315.376384","type":"twitter in","z":"8dea9fe1.437498","twitter":"73d1dfc4.bf5268","tags":"#amazon","user":"false","name":"Listen to twitter feed","inputs":1,"x":130,"y":80,"wires":[["ce067c02.d67fe"]]},{"id":"ce067c02.d67fe","type":"function","z":"8dea9fe1.437498","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":80,"wires":[["79801e7c.5bcea8"]]},{"id":"79801e7c.5bcea8","type":"sentiment","z":"8dea9fe1.437498","name":"Sentiment of Tweets","x":400,"y":160,"wires":[["ea0d0709.4da0a8"]]},{"id":"ea0d0709.4da0a8","type":"switch","z":"8dea9fe1.437498","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":660,"y":160,"wires":[["9cf157fd.b75788"],["d13eddee.9f2b8"]]},{"id":"9cf157fd.b75788","type":"debug","z":"8dea9fe1.437498","name":"Positive Tweet debug","active":true,"console":"false","complete":"payload","x":840,"y":60,"wires":[]},{"id":"d13eddee.9f2b8","type":"debug","z":"8dea9fe1.437498","name":"Negative Tweets","active":true,"console":"false","complete":"payload","x":830,"y":220,"wires":[]}]